In [5]:
from pyresparser import ResumeParser
import os
from docx import Document

In [6]:
print("Current Working Directory:", os.getcwd())

Current Working Directory: C:\Users\deepv\Desktop\IPD\trial

In [7]:
import os
from pyresparser import ResumeParser
from PyPDF2 import PdfReader

resumes_folder = 'uploads/resumes'

res_list = []
res_list1 = []

for filename in os.listdir(resumes_folder):
    resume_path = os.path.join(resumes_folder, filename)

    try:
        data = ResumeParser(resume_path).get_extracted_data()
        res_list.append(data)

        pdfReader = PdfReader(resume_path)
        pageObj = pdfReader.pages[0]
        data1 = pageObj.extract_text()
        res_list1.append(data1)

    except Exception as e:
        print(f"Error processing {filename}:{e}")

C:\Users\deepv\AppData\Local\Programs\Python\Python311\Lib\site-packages\spacy\util.py:275: UserWarning: [W031] Model 'en_training' (0.0.0) requires spaCy v2.1 and is incompatible with the current spaCy version (2.3.9). This may lead to unexpected results or runtime errors. To resolve this, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)
C:\Users\deepv\AppData\Local\Programs\Python\Python311\Lib\site-packages\spacy\util.py:275: UserWarning: [W031] Model 'en_training' (0.0.0) requires spaCy v2.1 and is incompatible with the current spaCy version (2.3.9). This may lead to unexpected results or runtime errors. To resolve this, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)
C:\Users\deepv\AppData\Local\Programs\Python\Python311\Lib\site-packages\spacy\util.py:275: UserWarning: [W031] Model 'en_training' (0.0.0) requires spaCy v2.1 and is incompatible with the current spaCy version (2.3.9). This may lead to unexpected results or runtime errors. To resolve this, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)
C:\Users\deepv\AppData\Local\Programs\Python\Python311\Lib\site-packages\spacy\util.py:275: UserWarning: [W031] Model 'en_training' (0.0.0) requires spaCy v2.1 and is incompatible with the current spaCy version (2.3.9). This may lead to unexpected results or runtime errors. To resolve this, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

In [8]:
import pandas as pd
df = pd.DataFrame(res_list)
df['resume_string']= ''
df['resume_string']= res_list1
df

,name,email,mobile_number,skills,college_name,degree,designation,experience,company_names,no_of_pages,total_experience,resume_string
0,Deep Vyas,deepvyas2003@gmail.com,9969404974,"[Api, Ui, Js, Mobile, Mysql, Design, Website, ...",None,[Dwarkadas .J .Sanghvi College of Engineering(...,None,None,None,1,0.0,\n \n \n` \n \n \nOBJECTIV E \n \n \nEDUCATIO...
1,K R,kroshpan@gmail.com,9152256648,"[Sql, P, Website, System, Engineering, Robot, ...",None,None,None,None,None,1,0.0,9152256648 kroshpan@gmail.com Github Connect...
2,SKILLS Programming,ayushiutt1@gmail.com,None,"[Analytics, P, Css, Java, Engineering, Process...",None,[Bachelor of Technology\nInformation Technolog...,[SOCIAL MEDIA MARKETING INTERN],"[SOCIAL MEDIA MARKETING INTERN, O c t 2 0 2 ...",[Ayushi Uttamani],1,0.0,"PROFESSIONAL\nSUMMARY\nI am an outgoing,\nenth..."
3,RISHIKESH S,shrishidurga21@gmail.com,8879374048,"[Database, Testing, Mysql, Website, Jupyter, C...",None,None,None,None,None,1,0.0,RISHIKESH S SHARMA \n+91 8879374048 | shris...

In [9]:
pd.set_option('display.max_colwidth', None)

# Display the DataFrame
print(df['skills'])

0                                                       [Api, Ui, Js, Mobile, Mysql, Design, Website, Transactions, Python, Html, Information technology, Css, C, Engineering, Ux, Javascript, Technical]
1          [Sql, P, Website, System, Engineering, Robot, Security, C++, Automation, Aws, Technical, Communication, Mobile, Hardware, Design, Github, C, Ai, Linux, Programming, R, International, Opencv]
2              [Analytics, P, Css, Java, Engineering, Process, Pr, Illustrator, Writing, C++, Communication, Technical, Content, C, Marketing, Wordpress, Html, Facebook, Programming, R, Editing, Video]
3    [Database, Testing, Mysql, Website, Jupyter, Css, Pandas, Java, System, Numpy, Engineering, Python, Django, Data analysis, Technical, Algorithms, Design, C, Html, Analysis, Matplotlib, Javascript]
Name: skills, dtype: object